* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 0px;
}

body {
    background-image: url(https://images.unsplash.com/6/blurred_lines.jpeg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 50px;
}

h1 {
    margin: 0 auto;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    color: hsl(0, 0%, 97%);
    text-shadow: 5px 5px black;
    line-height: 1.5em;
}

.buttons {
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
    width: 720px;
    text-align: center;
}
.main {
    width: 730px;
    height: 730px;
    border: 5px solid black;
    margin: 0 auto;
    position: relative;
}
.reset,
.random,
.shade,
.clear,
.black {
    padding: 18px 25px;
    font-weight: 600;
    background-color: #0a2066;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    text-align: center;
    font-family: Roboto;
    transition: all 100ms ease-in;
    letter-spacing: 1px;
}

.clear:hover,
.reset:hover {
    transform: scale(1.2);
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid black;
}

.black:hover {
    transform: scale(1.2);
    background-color: black;
    color: white;
    border: 2px solid white;
}

.black.active {
    transform: scale(1.1);
    background-color: black;
    color: white;
    border: 2px solid white;
}

.shade:hover {
    transform: scale(1.2);
    border: 2px solid black;
    background-image: linear-gradient(to right, white, black);
}

.shade.active {
    transform: scale(1.1);
    border: 2px solid black;
    animation: shader 5s linear infinite;
    text-shadow: 0 0 5px black;
}

.random:hover {
    transform: scale(1.2);
    border: 2px solid black;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    text-shadow: 0px 0px 5px black;
}

.random.active {
    transform: scale(1.1);
    border: 2px solid black;
    text-shadow: 0px 0px 5px black;
    animation: rainbow 7s linear infinite;
}

.container {
    width: 720px;
    height: 720px;
    margin: 0 auto;
    background-color: white;
}

.box {
    display: inline-block;
    border: 0.5px solid rgb(70, 70, 70);
}
.box:hover {
    transform: scale(1.2);
}

.main .buttons {
    position: absolute;
    top: 5%;
    left: -30%;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
}

.main .buttons button {
    margin-bottom: 2em;
    padding: 0.8em 0;
    line-height: 1.5em;
    font-weight: bold;
    background-color: #56d998;
    border: 2px solid white;
    color: white;
    text-shadow: 0 0 5px black;
    transition: transform 100ms ease-in;
    letter-spacing: 1px;
}

.main .buttons button.active {
    transform: scale(1.15);
    background-color: #1b4731;
}

@keyframes rainbow {
    0% {
        background-color: red;
    }
    20% {
        background-color: orange;
    }
    35% {
        background-color: yellow;
    }
    50% {
        background-color: green;
    }
    65% {
        background-color: blue;
    }
    80% {
        background-color: indigo;
    }
    100% {
        background-color: violet;
    }
}

@keyframes shader {
    0% {
        background-color: white;
    }
    50% {
        background-color: black;
    }
    100% {
        background-color: white;
    }
}
